# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
.pnpm-store/

# Dependencies
node_modules/

# Build outputs
/dist/
/build/
/out/

# Vite specific
.vite/

# Local .env files
.env
.env.*
!.env.production

# gh-pages folder
.gh-pages/